<a href="https://colab.research.google.com/github/roshanc10/Practice_References/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON BASICS PRACTISE

In [ ]:
a,b,c,d= 25,25.5,-66.5,"abc"

In [ ]:
type(c)
type(a)
type(d)

str

Find id of a variable

In [ ]:
id(c)

139827639100912

string integer cannot be converted to int

In [ ]:
z = "25.5"
gg = int(z)
gg

ValueError: ignored

In [ ]:
e = int(b)
e

25

In [ ]:
25**2

625

In [ ]:
25%5

0

Floor division operator

In [ ]:
25//4

6

add equal to

In [ ]:
x= 5
y= 7
x+=y
x

12

subtract equal to

In [ ]:
x = 7
y= 4
x-=y
x

3

identity operator

In [ ]:
x = 5
y= 10
x is not y
x is y

False

membership operator

In [ ]:
t = (2,5,3,9)
5 not in t

False

In [ ]:
print(2*4**3/2)

64.0

In [ ]:
a=5

b=10

print(a|b)

print(b<<a)

15
320

string operators

In [ ]:
x="ok"

y= """sda
    dsada
      dsada """
y

'sda\n    dsada\n      dsada '

string formatting types

In [ ]:
fn = "rosh"
ln = "cool"

print('hello i am {0} {1}'.format(fn,ln))

print(f'my name is {fn}. i am {ln}')

hello i am rosh cool
my name is rosh. i am cool

string fns

In [ ]:
data= "coOL"
check = "Hello Jerry"
print(data.capitalize())
print(data.lower())
print(data.upper())
print(len(check))   #space also counted as chars in python
print(check.count('r'))  #no of occ in substring
print(check.find('r'))
print(check.find('z'))  #returns -1 if not found

print(check.islower())
print(check.isupper())
print(check.split(" "))  #seperate by whitespace
print(check.istitle())  ##title each work with uppercase

Cool
cool
COOL
11
2
8
-1
False
False
['Hello', 'Jerry']
True

convert list to string

In [ ]:
rsm=["ram", " sham" , "mohan"]
x= " ".join(rsm)
x

'ram  sham mohan'

loops and if else

In [ ]:
  s= [2,6,5,7,22,64,95,-20]
  for i in s:
    if(i%2!=0):
      print(i,'not divisible by 2')
    else:
      print(i,'divisible by 2')

2 divisible by 2
6 divisible by 2
5 not divisible by 2
7 not divisible by 2
22 divisible by 2
64 divisible by 2
95 not divisible by 2
-20 divisible by 2

break: end the loop , 
continue: skips the current condition of loop ,
pass: passes the execution of the loop

In [ ]:
for i in range(1,10):
  if i==5:
    continue     ##skips the current iteration of loop
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
a=[4,8,3,7,5]
for i in a:
     if(i%2!=0):
          break
     else:
          print(i)

4
8

In [ ]:
4%2!=0

False

Python Data Structures

List can be changed(mutable) whereas tuple cannot be changed(immutable)

Convert tuple to list change and reconvert list to tuple for changing values

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
y.append("peach")

y.insert(1,"ok")

y

['apple', 'ok', 'kiwi', 'cherry', 'peach', 'peach']

In [ ]:
z = y.copy()
z

['apple', 'ok', 'kiwi', 'cherry', 'peach', 'peach']

In [ ]:
len(x)

3

In [ ]:
t=(100,200)
print(t*2)

(100, 200, 100, 200)

In [ ]:
thisdict= dict(brands="ford",year=1999)
print(thisdict)
print(thisdict.get("brands"))
print(thisdict['year'])
print(thisdict.items())
print(thisdict.keys())

{'brands': 'ford', 'year': 1999}

dict_keys(['brands', 'year'])

In [ ]:
thisdict.update({"value":"good"})
thisdict

{'brands': 'ford', 'value': 'good', 'year': 1999}

In [ ]:
student_marks= {"ram":{"maths":75,"science":80},"shyam":{"maths":70,"science":85}}
print(student_marks)
print("marks scored by ram in science is ",student_marks["ram"]["science"])

{'ram': {'maths': 75, 'science': 80}, 'shyam': {'maths': 70, 'science': 85}}
marks scored by ram in science is  80

In [ ]:
for name,subjects in student_marks.items():
  print("name of student",name)
  for marks in subjects:
    print(marks,":",subjects[marks] )

name of student ram
maths : 75
science : 80
name of student shyam
maths : 70
science : 85

Sets are unordered and unindexed

In [ ]:
s={"apple",5,2.5}
s

{2.5, 5, 'apple'}

set cannot be changed but new elements can be added to it (add to element add and update to add more than 1 element)

In [ ]:
s.update({"gauva","peach"})
s

{2.5, 'apple', 'gauva', 'peach'}

remove throws error if not found where as discard does not

In [ ]:
s.discard(5)
s
#s.remove(4)

{2.5, 'apple', 'gauva', 'peach'}

In [ ]:
x={5,4,"intersect","union","peach"}
s|x
x.union(s)

{2.5, 4, 5, 'apple', 'gauva', 'intersect', 'peach', 'union'}

In [ ]:
s&x
s.intersection(x)

{'peach'}

In [ ]:
print(x-s)
print(s-x)
s.difference(x)

{'union', 5, 'intersect', 4}
{2.5, 'gauva', 'apple'}

{2.5, 'apple', 'gauva'}

symmentric diff is element excluding the common elements in both sets

In [ ]:
s.symmetric_difference(x)

{2.5, 4, 5, 'apple', 'gauva', 'intersect', 'union'}

stacks are lifo(last in first out) just like coins stack

queue is fifo(first in first out) like movie ticket queue

In [ ]:
letter = []
letter.append("a")
letter.append("b")
letter.append("c")
letter.append("d")
letter

['a', 'b', 'c', 'd']

In [ ]:
letter.pop()  #stack
print(letter)

letter.pop(0) #queue
print(letter)

['a', 'b', 'c']
['b', 'c']

In [ ]:
from collections import deque
numbers = deque()
numbers.append(4)
numbers.append(5)
numbers.append(6)
numbers.append(2)
numbers

deque([4, 5, 6, 2])

In [ ]:
#for stack
numbers.pop()
print(numbers)

#for queue
numbers.popleft()
print(numbers)

deque([4, 5, 6])
deque([5, 6])

FUNCTIONS

In [ ]:
def fn_cal(a,b,c):
  d= (a*b+c)
  e= a*b
  return d,e

x = fn_cal(2,3,4)
x

(10, 6)

lambda is an anonymous function that accepts multiple inputs and gives a singleoutput

In [ ]:
y= lambda a,b:a*b
y(10,30)

300

In [ ]:
#dictionary comprehension
d = {num:num*num for num in range(1,10)}
print(d)

#set comprehension
numbers= { x for x in range(1,10)}
print(numbers)

#list comprehension
l1 = [2,3,5,6,12,8,5,9]
even_list = [x for x in l1 if x%2==0]
print(even_list)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
[2, 6, 12, 8]

Aggregate fns
max
min
sum
mean
median
mode

In [ ]:
l1 = [2,3,5,6,12,8,5,9]
print(min(l1))
print(max(l1))
print(sum(l1))

import statistics as s
print(s.mean(l1))
print(s.median(l1))
print(s.mode(l1))

a=[3,6,1,8,2,6,3]
print(s.median(a))

2
12
50
6.25
5.5
5
3

ANalytical fns eval,len,factorial.sort

In [ ]:
x=3
print(eval('x**2+2*x-2'))

print(len(l1))

import math
print(math.factorial(5))

l1 = [2,3,5,6,12,8,5,9]
l1.sort(reverse=True)
l1

13
8
120

[12, 9, 8, 6, 5, 5, 3, 2]

factorial with recursion  4! = 4*3*2*1 = 4*6=24

In [ ]:
def fact(n):
  if n ==1:
    return 1
  else:
    return n*fact(n-1)

fact(4)

24

fibonacci is preceding no addition of behind 2 numbers   0,1,1,2,3,5,8,13,21

In [ ]:
def fibo(n):
  if n<=1:
    return n
  else:
    return fibo(n-1)+fibo(n-2)

fibo(7)

13

In [ ]:
def fun(n):

     if n==6:

          return n

     else:

          return 2*fun(n+1)

fun(3)

48

Classes and objects

In [ ]:
class Person:
  age = 20

rc = Person()

In [ ]:
class Person:
  def __init__(self,name,_age):
    self.name = name
    self._age = _age
  def display(self):
    print(self.name,self._age)


p1= Person("rc",25)
p1.display()

print(p1.name)
print(p1._age)

rc 25
rc
25

inheritance use as a parameter base class  , accessed by super keyword

In [ ]:
class student(Person):
  def __init__(self,name,_age):
    super().__init__(name,_age)

s1 = student("ok",26)
s1.display()

ok 26

encapsulated age not changed from 26 to 30

In [ ]:
s1.age= 30
s1.display()

ok 26

polymorphism

In [ ]:
class sbi:
  def roi(self):
    return 8
class boi:
  def roi(self):
    return 5
class bom:
  def roi(self):
    return 6

def comm(bank):
  return bank.roi()

In [ ]:
s= sbi()
b = boi()
bm= bom()

comm(s)

8